body {
  font-family: "avenir";
}

.navbar-brand {
  font-size: 30px;
  padding-bottom: 0;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.honey-font {
  font-family: "Cookie";
  font-size: 40px;
  font-style: italic;
}

.logout {
  position: absolute;
  right: 10px;
}

.navbar-container {
  align-items: end !important;
}
